div.container {

	border-radius: 5px;
	border-color: #e21515;
	margin:auto;
	padding: 1%;
	width: 45%;
	justify-content: center;
	background-color:#0c0c0c;
	color: rgb(236, 236, 236);
}

body{
	background-color: rgb(1, 1, 43);
}

a {
  color: hotpink;
}

a:visited {
  color: green;
}

.nav-links{
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 20px;
        display: block;
}

.nav-links a:hover{
	color: azure;
}

