div.container {

	border-radius: 5px;
	border: solid;
	border-color: rgba(232, 42, 211, 0.54);
	border-width: 2px;
	margin:auto;
	padding: 1%;
	width: 50%;
    color:antiquewhite;
	justify-content: center;
	background-color:#28243d;
	font-family: 'SMT-Devil-Survivor', serif;
	font-size: clamp(20px, 3vw, 15px);
}

@font-face {
  font-family: 'SMT-Devil-Survivor';
  src: url('/fonts/SMT-Devil-Survivor.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}