---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Midnight Tides";
---


<Layout pageTitle = {pageTitle}>
	<p>
		Hello! This is Tal's website, where you can find out more about me and my coding projects.
		This also will have personal use as a blog which I will periodically be updating
	</p>
</Layout>
