---
import Layout from '../layouts/Layout.astro';
import Social from '../components/social.astro';
const pageTitle = "Links";
---


<Layout pageTitle = {pageTitle}>
	<p>
		Tal's Links
	</p>
    <Social/>
</Layout>
