---
import Layout from '../layouts/Layout.astro';
import ProjectPost from '../components/ProjectPost.astro';

const allProjects = Object.values(import.meta.glob('./projects/*.md', { eager: true }));
---

<Layout>
	<p>
		Hey chat tal here in projects
	</p>
	<ul>
      {allProjects.map((post: any) => <ProjectPost url={post.url} title={post.frontmatter.title}/>)}
    </ul>
</Layout>