<div class="nav-links">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/projects/">Projects</a></li>
        <li><a href="/blog/">Blog</a></li>
    </ul>
    
</div>

<style>
    .nav-links{
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 20px;
        display: block;
    }
</style>