---
const { pathname } = Astro.url;
---

<div class="nav-links">
    <ul>
        <li><a class={pathname.slice(1) === '' ? 'active' : ''} href="/">Home</a></li>
        <li><a class={pathname.slice(1) === 'projects/' ? 'active' : ''} href="/projects/">Projects</a></li>
        <li><a class={pathname.slice(1) === 'blog/' ? 'active' : ''} href="/blog/">Blog</a></li>
        <li><a class={pathname.slice(1) === 'links/' ? 'active' : ''} href="/links/">Links</a></li>
        <li><a class={pathname.slice(1) === 'interests/' ? 'active' : ''} href="/interests/">Interests</a></li>
    </ul>
    
</div>

<style>
    .active{
        text-decoration: underline solid rgb(93, 3, 3);
    }
    .nav-links{
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 18px;
        display: block;
		
    }

    .nav-links ul{
        list-style-type: none;
        margin: 0px;
        padding: 1px;
        line-height: 40px;
    }

    @media only screen and (max-width: 1000px) {
        .nav-links{
            display: flex;
            flex-direction: column;
            margin: auto;
        }

        .nav-links li{
            display: inline;
        }
    }
</style>