---
const {title, url, description} = Astro.props;

---

<li  class = "projectPost" ><a href = {url}>
        <h3>{title}</h3>
        <p>
            {description}
        </p>
    </a>
</li>

<style>
    .projectPost :hover{
        color: yellow;
        background-color: grey;
    }

    .projectPost {
        display: flex;
        flex-direction: column;
    }
    .projectPost p {
        font-size: 12px;
        display: inline-block;
    }
</style>