---
const {title, url, description, tag} = Astro.props;
---

<li  class = "projectPost" >
    <a href = {url}>
        {title}
        <small>{tag}</small> 
    </a>
    
</li>
<small>
            {description}
</small>

<style>
    .projectPost {
        display: flex;
        flex-direction: row; 
        list-style-type: none;
        justify-content: space-between;
        padding: 0;

    }
    .projectPost h3{
        padding-right: 2px;
        padding-bottom: 0px;
        order: 2;
    }

    .projectPost a small{
        background-color: rgb(190, 149, 251);
        border: 1px solid;
        border-radius: 5px;
        color: black;
    }      
    .projectPost a {
        color:rgb(171, 211, 246);
    }

    .projectPost a:hover{
        color:rgb(8, 131, 90);
    }
</style>