---
const {title, url, description} = Astro.props;

---

<li  class = "projectPost" ><a href = {url}>
        <h3>{title}</h3>
        <p>
            {description}
        </p>
    </a>
</li>

<style>
    .projectPost :hover{
        background-color: rgb(30, 30, 30);
    }

    .projectPost {
        display: flex;
        flex-direction: column;
        text-indent: 30px;

    }
    .projectPost p {
        font-size: 12px;
        display: inline-block;
    }
</style>