---
import Navigation from "./navigation.astro";
---
<nav class = sidebar>
    <Navigation />

</nav>

<style>
    .sidebar {
  height: 200px;
  width: 150px;
  
  position: fixed;
  right: 0;
  top: 0;
  margin-right: 8%;
  margin-top: 10%;

}

@media only screen and (max-width: 1000px) {
  .sidebar{
	display: none;
  }
}

</style>
