---
import Navigation from "./navigation.astro";
---
<nav class = sidebar>
    <Navigation />

</nav>

<style>
    .sidebar {
  height: 200px;
  width: 150px;
  
  position: fixed;
  margin-right: 15%;
  top: 0;
  right: 0;
  padding-top: 80px;
  padding-right: 80px;

}

.sidebar li {
  padding: 8px;
  font-size: 100px;
  line-height: 2.0;
  /* display: block; */
} 

</style>
