<ul>
        <li><a href="https://github.com/tpodsosony/">GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/talpodsosony/">LinkedIn</a></li>
        <li><a href="https://www.youtube.com/@InfernoScorpio9">Youtube</a></li>
</ul>

<style>
    li{
        text-decoration: none;
    }

    ul{
        list-style-type: none;
        padding-inline-start: 0;
    }
    
</style>
