---
import Navigation from "./navigation.astro";
---
<nav class = topnav>
    <Navigation />

</nav>

<style>
.topnav{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (min-width: 1000px) {
  .topnav{
	display: none;
  }
}

</style>