---
import '../styles/global.css';
import Sidebar from '../components/sidebar.astro';
import Header from '../components/Header.astro';
import Topnav from '../components/topnav.astro';
const {pageTitle} = Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Header/>
		<div class = top><Topnav/></div>
		<div class = "container">
			<h4>{pageTitle}</h4>
			<div class = "line-1"></div>
			<slot />
		</div>
		<div class = side><Sidebar/></div>
		
	</body>
	
</html>

<style>
	h4{
		text-align: center;
	}

@media only screen and (max-width: 1000px) {
  .top{
	display: inline-block;
  }
  .side{
	display: none;
  }
}

@media only screen and (min-width: 1000px) {
  .top{
	display: none;
  }
}

	
</style>

