---
import Layout from './Layout.astro';

const { frontmatter } = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Midnight Tides</title>
	</head>
<a class="goBack">Go back</a>

<Layout>
<p>Published on: {frontmatter.pubDate.toString().slice(0,10)}</p>
<p><em>{frontmatter.description}</em></p>
<a href={frontmatter.link}>Code</a>
<div class="line-1"></div>


<slot />
</Layout>

<style>
    .line-1 {
  height: 1px;
  background: rgb(2, 64, 146);
	}

  a.goBack{
	position: fixed;
	top:0;
	left:0;
	margin-top: 20%;
	margin-left: 20%;
  }
</style>

<script>
  const buttons = document.querySelectorAll('a.goBack');

  buttons.forEach((button) => {
    button.addEventListener('click', () => {
     history.back()
    });
  });
</script>

  

